@font-face {
    font-family: 'Geometria';
    src: url('./Geometria-Regular.ttf');

}

.logo {
    width: 250px;
    margin-left: 15%;
    margin-top: 20px;
    height: 30px;
}

body {
    background-color: #F2F4F7;
    font-family: "Geometria";
    color: #ABABAB;
}

a {
    text-decoration: none;
    color: #21A038;
    margin-left: 650px;
    font-size: 25px;
    top: -10px;
    position: relative;
}

.info-box {
    width: 500px;
    height: 697px;
    background-color: #FBFBFB;
    border-radius: 50px;
    margin-left: 35%;
    margin-top: 20px;
}

.info-box.small {
    height: 590px;
    /* Уменьшенная высота блока */
    margin-top: 70px;
}

.transform-info {
    padding-top: 20px;
    margin-left: 40px;
    color: black;
}

.check-info {
    padding-top: 10px;
    margin-left: 40px;
}

.number-info {
    padding-top: 10px;
    margin-left: 40px;
    font-size: 22px;
    height: 40px;
    padding-left: 10px;
    width: 415px;
    border-radius: 10px;
    border: 1px solid #ABABAB;
}

.summary-info {
    padding-top: 10px;
    margin-left: 40px;
    font-size: 22px;

}

.amount-info {
    padding-top: 10px;
    margin-left: 40px;
    font-size: 22px;
    height: 40px;
    padding-left: 10px;
    width: 415px;
    border-radius: 10px;
    border: 1px solid #ABABAB;
}

.bank-info {
    padding-top: 10px;
    margin-left: 40px;
    font-size: 22px;

}

.bank-name {
    padding-top: 10px;
    margin-left: 40px;
    font-size: 22px;
    height: 40px;
    padding-left: 10px;
    width: 415px;
    border-radius: 10px;
    border: 1px solid #ABABAB;
}

button {
    height: 80px;
    width: 415px;
    background-color: #00D36D;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
    font-size: 36px;
    margin-left: 40px;
    color: #FFFFFF;
}

.agree-info {
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    white-space: nowrap;
}

.cards {
    width: 156px;
    height: 31px;
    margin-left: 35%;
}

.info-p {
    font-size: 16px;
    margin-left: 430px;
    margin-top: 30px;
    display: block !important;
}

.copy-svg {
    margin-top: -65px;
    margin-left: 420px;
    color: #21A038;

}

.support-button {
    position: absolute;
    top: 590px;
    left: 530px;
    width: 435px;
}

.warning-block {
    position: absolute;
    top: 30px;
    border-radius: 25px;
    width: 420px;
    height: 90px;
    background-color: #00D36D;
    color: #ffffff;
    left: 570px;
}

.warning-block h2 {
    font-size: 20px;
    text-align: center;
}

.warning-block p {
    font-size: 16px;
    margin-top: -15px;
    text-align: center;
}

@media (max-width:1024px) {
    .warning-block {
        left: 40%;
        top: 10px;
    }

    .support-button {
        left: 34.5%;
        margin-top: 60px;
    }

    .info-p {
        margin-left: 30%;
        white-space: nowrap;
    }

    .logo {
        margin-left: 10%;
    }

    a {
        right: -19%;
        top: -35px;
    }
}

@media (max-width:600px) {
    .info-box {
        margin-left: 0px;
        width: 400px;
        margin-top: 120px;
        position: relative;
    }

    .info-box.small {
        margin-top: 120px;
    }

    a {
        display: none;
    }

    .support-button {
        margin-top: 70px;
        margin-left: -110px;
        width: 350px;
    }

    #submitForm {
        margin-left: 30px;
        width: 330px;
    }

    .cards {
        margin-top: 32px;
        margin-left: 32%;
    }

    .info-p {
        margin-left: 4%;
        font-size: 13px;

    }

    .warning-block {
        margin-left: -32%;
        margin-top: 60px;
        width: 360px;
    }

    .logo {
        position: relative;
        margin-left: 20%;
    }

    .transform-info {
        margin-left: 30px;
        margin-top: 10px;
        color: ;
    }

    .check-info {
        margin-left: 30px;
    }

    .number-info {
        width: 330px;
        margin-left: 30px;
    }

    .box-number-of-cart img {
        margin-left: 80%;
    }

    .summary-info {
        margin-left: 30px;
    }

    .amount-info {
        width: 330px;
        margin-left: 30px;
    }

    .bank-info {
        margin-left: 30px;
    }

    .bank-name {
        width: 330px;
        margin-left: 30px;
    }
}

@media (max-width:400px) {
    .support-button {
        margin-left: -80px;
    }
}

@media (max-width:375px) {
    .support-button {
        margin-left: -60px;
    }
}